body {
    margin: 0px;
    box-sizing: border-box;
}
nav{
    background-image: url(vault-boy-e7iy1gk1m4ss5a4z\ fondo\ coso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    
}
li:hover{
    background-image: url(FOWW_Vault_Tec_logo.png);
    background-size: cover;
}
li {
    
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    display: flex;
    background-color: rgba(0, 0, 0, 0.581);
    
}

ul {
    display: flex;
    font-size: 50px;
    justify-content: end;
  
}
img {
    width: 200px;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

body {
    background-image: url(FOWW_Vault_Tec_logo.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
    
  #fkt {
        position: absolute;
        top: 0;
        right: 0vh;
        width: 50px;
margin: 5px;
height: 50px;
    }
    .explicacion {
        color: rgb(0, 0, 0);
font-size: 28px;
margin: 5px;
width: 1400px;


    }

   
